*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; /*deixa a fonte mais leve/fina*/
}



.pageone{
    background-image: url(../assets/img/Background_Intro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 60px;

    h2{
        padding-top: 48px;
    }

    p{
        padding-top: 20px;
    }


}
.icon-foto{

    position: relative;
    display: inline-block;

    .icon-code{
        position: absolute;

        position: absolute;
        bottom: 0;  /* encosta na parte de baixo */
        right: 0;   /* encosta no canto direito */

    }
}

.perfil-img{
        height: 96px;
        width: 96px;

        border-radius: 50%;
        border: 3px solid var(--red);
}

.stacks-container{
    display: flex;

    padding-top:48px;
    padding-bottom: 94px;
    gap: 16PX;
}

.stacks{
    color: var(--gray-200);
    font-size: var(--fs-md);
    font-family: var(--ff-mavenpro);
    display: flex;
    align-items: center;
    gap: 8px ;

    padding: 8px 16px;
    background-color: var(--gray-400) ;
    border-radius: 32px ;

    img{
        height: 22px;
        width: 22px;
    }
}
.seta-icon{
    padding-bottom: 34px;
}

.pagetwo{
    background-color: var(--gray-500);
}

.titletwo{
    display: flex;
    flex-flow: column;
    align-items: center;

    padding-top: 52px;
    padding-bottom: 56px;
    gap: 8px;
}
.container-projects{
    display: flex;
    flex-wrap: wrap; /* permite quebrar linha */
    justify-content: center; /* centraliza os cards */
    gap: 24px;
    padding-bottom: 144px;
}

.project-card{
    padding: 12px;
    background-color: var(--gray-400);
    border-radius: 12px;
    border: 2px solid transparent;

    width: 340px;      
    min-height: 280px; 
    

    img{
        height: 156px;
        width: 306px;
        border-radius: 8px;
    }

    h4{
        padding-top: 12px;
    }

    p{
        padding-top: 8px;
    }
}

.project-card:hover{
    border: 2px solid var(--gray-200);
}

.project-card .subtitle-project {
  flex-grow: 1;
}

.pagethree{
    background-color: var(--gray-600);
}

.container-servicos{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 120px;

    .servicos{
        background-color: var(--gray-600);
        padding: 12px;

        width: 288px;      
        min-height: 150px; 

        border: 2px solid var(--gray-500);
        border-radius: 12px;
    }
}

.servicos:hover{
    background-color: var(--gray-500);
}

.pagefour{
    background: url(../assets/img/Background_Contacts.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titlefour{
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-items: center;
    gap: 8px;

    padding-top: 128px;
    padding-bottom: 48px;

    strong{
        color: var(--purple);
    }

}


.social-button{
    display: flex;
    background-color: var(--gray-400);
    font-family: var(--ff-mavenpro);
    border: 2px solid transparent;
    font-size: var(--fs-md);
    height: 48px ;
    width: 350px;
    padding: 12px;
    border-radius: 8px;

    justify-content: space-between;
    .contato{
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--gray-100);
        background-color: var(--gray-400);
        font-size: var(--fs-sm);
    }

    img{
        height: 20px;
        width: 20px;
    }
}

.btn-container{
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 12px;

    padding-bottom: 200px;
}

.social-button:hover{
    border: 2px solid var(--blue);
}
