.pagefour{
    background: url(../assets/img/Background_Contacts.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titlefour{
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-items: center;
    gap: 8px;

    padding-top: 128px;
    padding-bottom: 48px;

    strong{
        color: var(--purple);
    }

}


.social-button{
    display: flex;
    background-color: var(--gray-400);
    font-family: var(--ff-mavenpro);
    border: 2px solid transparent;
    font-size: var(--fs-md);
    height: 48px ;
    width: 350px;
    padding: 12px;
    border-radius: 8px;

    justify-content: space-between;
    .contato{
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--gray-100);
        background-color: var(--gray-400);
        font-size: var(--fs-sm);
    }

    img{
        height: 20px;
        width: 20px;
    }
}

.btn-container{
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 12px;

    padding-bottom: 200px;
}

.social-button:hover{
    border: 2px solid var(--blue);
}
